body{
height:100%;
width:auto;
text-align:center;
position:relative;
}

.jumbotron{
background:white;
width:80%;
margin: 0 auto;
border-bottom-width:1px;
border-bottom-color:blue;
border-bottom-style: solid;
}

.jumbotron3{
background:white;
width:30%;
margin: 0 auto;
border-bottom-width:1px;
border-bottom-color:blue;
border-bottom-style: solid;
}

.jumbotron2{
padding-top:15px;
background:#D9D9D9;
width:80%;
margin: 0 auto;
}

.form-control{
width:30%;
margin: 0 auto;
}

.container{
box-shadow: 5px 5px 5px #777, -5px 5px 5px #777; 
width:auto;
margin= 0 auto;
}

#footerTry{
position:relative;
bottom:0px;
height:50px;
width:70px;
margin:0 auto;
}

#headerBorder{
text-align:center;
width:600px;
border-bottom-width:1px;
border-bottom-color:blue;
border-bottom-style: solid;
margin: 0 auto;
}

#headerBorder2{
text-align:center;
width:800px;
border-bottom-width:1px;
border-bottom-color:blue;
border-bottom-style: solid;
margin: 0 auto;
}

#headerBorder3{
text-align:center;
width:300px;
border-bottom-width:1px;
border-bottom-color:blue;
border-bottom-style: solid;
margin: 0 auto;
}

.questionBorder{
border-width:1px;
border-style:solid;
border-color:black;
width:500px;
margin: 0 auto;
}

h1{
font-size:70px;
}

.container2 {
position: relative;
height: auto;
min-width:724px;
max-width: 1170px;
box-shadow: 5px 5px 5px #777, -5px 5px 5px #777;
background-color: #FFFFFF;
padding-top: 20px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
margin: 0 auto;
}

#buttonDelete{
max-width:97px;
}